body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232222;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    padding: 20px;
    
}
.logo {
    width: 500px; /* Aumente o valor para o tamanho desejado */
    max-width: 100%; /* Mantém o design responsivo */
    height: auto; /* Preserva a proporção da imagem */
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

#benefits ul {
    list-style: none;
    padding: 0;
}

#benefits li {
    margin: 10px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: rgba(233, 110, 23, 0.762);
    background-color: #d7642a;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
.white-text {
    color: white !important;
}


.btn:hover {
    background-color: #d7642a;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
